#search-icon {
    width: 20px;
    height: auto;
}

#search-form {
    display: block;
    width: 30vw;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    margin-right : 10px;
    height: auto;
}

#feature-icon img {
    
    background-color: rgb(129, 128, 128);
    padding: 10px;
    border-radius: 10px;
}
.content-container {
    display: flex;
}

.search-box {
    display: flex;
    padding: 10px;
}

.five-day-forcast {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weather-display {
    margin: 20px;
    width: 100%;
    /* background-color: rgb(9, 43, 53); */
}

.forcast-title {
    margin-top: 10px;
}

.hide {
    display: none;
}

.un-hide {
    visibility: visible;
}

/* #weather-stats {
    background-color: rgb(4, 45, 53);
} */

.green-safe {
    display: flex;
    background-color: greenyellow;
    font-weight: bold;
    padding:5px;
    border: 1px solid black;
    border-radius: 8px;
    width: 150px;
    justify-content: center;
}

.orange-warning {
    background-color: rgb(255, 189, 47);
    font-weight: bold;
    padding:5px;
    border: 1px solid black;
    border-radius: 8px;
    width: 150px;
    justify-content: center;
    display: flex;
}

.red-alert {
    background-color: rgb(243, 93, 33);
    font-weight: bold;
    padding:5px;
    border: 1px solid black;
    border-radius: 8px;
    width: 150px;
    justify-content: center;
    display: flex;
}

.grey-not-working {
    background-color: grey;
    text-decoration: hotpink;
    width: 150px;
    display: flex;
}

#icon-one img, #icon-two img, #icon-three img, #icon-four img, #icon-five img {
    width: 50px;
    height: auto;
}

.bullet {
    text-decoration: none;
}